<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaoyu.backend.mapper.CartMapper">

    <resultMap type="com.shaoyu.backend.model.ItemQuantity" id="CartResult">
        <id property="cartId" column="cart_id" />
        <result property="orderId" column="order_id" />
        <result property="userId" column="user_id" />
    </resultMap>


    <resultMap type="com.shaoyu.backend.model.ItemQuantity" id="ItemQuantityResult">
        <id property="cartId" column="cart_id" />
        <result property="itemName" column="item_name" />
        <result property="itemId" column="item_id" />
        <result property="quantity" column="quantity" />
    </resultMap>


    <insert id="generateNewCart"  keyProperty="id" parameterType="com.shaoyu.backend.model.ItemQuantity">
        INSERT INTO cart(cart_id, user_id, is_checked) VALUES (null, #{user_id}, 0)
    </insert>


    <insert id="insertIntoCart"  keyProperty="id" parameterType="com.shaoyu.backend.model.ItemQuantity">
        INSERT INTO item_quantity
        (cart_id, item_name, item_id, quantity)
        VALUES(#{cartId},#{itemName},#{itemId},#{quantity})
    </insert>

    <select id="selectAllItemsByCart"   resultMap="ItemQuantityResult">
        select * from  item_quantity where cart_id = #{cartId}
    </select>


    <delete id="deleteItemsByCart" parameterType="com.shaoyu.backend.model.ItemQuantity">
        DELETE FROM  item_quantity WHERE item_name in (
        <foreach collection="itemNames" item="itemName" separator=",">
            #{itemName}
        </foreach>
        )  and cart_id = #{cartId};
    </delete>

    <select id="selectCartByUserId" resultType="java.lang.Integer">
        select cart_id from cart where user_id = #{userId} and is_chekced = 0
    </select>

    <select id="selectUserByCartId" resultType="java.lang.Integer">
        select user_id from cart where cart_id = #{cartId}
    </select>


    <select id="getAllCarts" resultMap="CartResult">
        select * from cart
    </select>



    <update id="checkOutFromCart" parameterType="com.shaoyu.backend.model.Item">
        UPDATE cart SET is_checked=1 where cart_id = #{cartId}
    </update>



    <update id="checkOutFromItems" parameterType="com.shaoyu.backend.model.Item">
        UPDATE item SET quantity=quantity-#{quantity} where id = #{itemId}
    </update>



    <update id="checkOutCart" parameterType="com.shaoyu.backend.model.Item">
        UPDATE cart SET is_checked=1 where cart_id = #{cartId}
    </update>


</mapper>
