<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaoyu.backend.mapper.ItemMapper">

    <resultMap type="com.shaoyu.backend.model.Item" id="ItemResult">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="region" column="region" />
        <result property="imageBase64" column="imageBase64" />
        <result property="price" column="price" />
        <result property="status" column="status" />
        <result property="quantity" column="quantity" />
    </resultMap>

    <select id="selectItemsByName" resultMap="ItemResult">
        select * from items where name LIKE #{name}
    </select>

    <select id="selectItemByName"  resultMap="ItemResult">
        select * from items where name = #{name}
    </select>

    <select id="getAllItems" resultMap="ItemResult">
        select * from items
    </select>

    <select id="selectItemById" resultType="com.shaoyu.backend.model.Item">
        select * from Items where id = #{id}
    </select>


    <insert id="uploadItem"  keyProperty="id" parameterType="com.shaoyu.backend.model.Item">
        INSERT INTO
            items
        (
           name,description,region,imageBase64,price,status,quantity,id
        )VALUES(
                   #{name},#{description},#{region},#{imageBase64},#{price},#{status},#{quantity},null

               )
    </insert>




    <select id="selectItemsByDirector"  resultMap="ItemResult">
        select * from Items where id in (select Item_id from directors where person_id = #{person_id})
    </select>

    <select id="selectItemsByStar"  resultMap="ItemResult">
        select * from Items where id in (select Item_id from stars where person_id = #{person_id})
    </select>

    <select id="selectRatingById"  resultType="double">
        select rating from ratings where Item_id = #{Item_id}
    </select>

    <select id="selectVotesById"  resultType="Integer">
        select votes from ratings where Item_id = #{Item_id}
    </select>

</mapper>
