<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shaoyu.backend.mapper.UserMapper">

    <resultMap type="com.shaoyu.backend.model.ItemQuantity" id="CartResult">
        <id property="id" column="id" />
        <result property="itemName" column="itemName" />
        <result property="quantity" column="quantity" />
        <result property="cartId" column="cartId" />
    </resultMap>


    <resultMap type="com.shaoyu.backend.model.Item" id="ItemResult">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="region" column="region" />
        <result property="imageBase64" column="imageBase64" />
        <result property="price" column="price" />
        <result property="status" column="status" />
        <result property="quantity" column="quantity" />
    </resultMap>


    <select id="selectUserRole"  resultType="java.lang.String">
        select role from user where username = #{username}
    </select>

    <select id="validateUserInfo"  resultType="java.lang.Integer">
        select COUNT(username) as amount from user where username = #{username} and password = #{password}
    </select>

    <select id="validateSignUp"  resultType="java.lang.Integer">
        select COUNT(username) as amount from user where username = #{username}
    </select>


    <insert id="insertUser"  keyProperty="id" parameterType="com.shaoyu.backend.model.User">
        insert into user(id,username,password,role,region,email,address,gender,age,phone)
        values (null,#{username},#{password},'customer',#{region},#{email},#{address},#{gender},#{age},#{phone})
    </insert>

    <update id="updateUserInfo"  parameterType="com.shaoyu.backend.model.User">>
        update user SET username=#{username}, region=#{region},email=#{email},phone_number=#{phone}
            ,address=#{address},gender=#{gender},age=#{age}
        where user_id = #{userId}
    </update>

    <update id="updateItem"  keyProperty="id" parameterType="com.shaoyu.backend.model.Item">
        UPDATE item SET name=#{name}, description=#{description},region=#{region},imageBase64=#{imageBase64},price=#{price}
                      ,status=#{status},quantity=#{quantity},category=#{category}
        where id = #{id}
    </update>

    <select id="getPrediction"  resultMap="ItemResult">
        select * from item where id in  #{itemList}
    </select>

    <select id="getUser"  resultType="com.shaoyu.backend.model.User">
        select  *  from user where username = #{username} LIMIT 1
    </select>


</mapper>
